html, body{
    height:100%;
}
body {
    margin: 10px;
}
a {
    color:inherit;
    text-decoration: none;
}

h1 {
    font-size: 45px;
    text-align: center;
    text-shadow: 5px 5px darkgray;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 20px;
}

ol {
    padding-right: 10px;
    margin: 0;
}

div.main_body ul {
    border-right: 1px solid black;
    margin: 0;
    padding-left: 20px;
    background-color: rgba(231, 228, 228, 0.678);
    display: inline-block;
    align-content: center;
}

.main_body {
    display: grid;
    grid-template-columns: 180px 1fr;
    height:100%;
    position:relative;
}

div.main_body li {
    margin: 10px;
}

div.article {
    padding: 10px 10px 10px 10px;
}

#main_image {
    max-width: 100%;
    height: auto;
}
.main_body ul ol li.current_page a {
    background-color:rgba(235, 185, 121, 0.795);
}

.Big_type {
    font-size: x-large;
    font-weight: bold;
}

#day_night {
    position: absolute;
    top:15px;
    right:15px;
    width:10px;
    height:15px;
    border-radius:50%;
    display:inline;
    background-color: white;
    border-color:black;
}

@media(max-width:800px) {
    .main_body {
        display: block;
    }

    div.main_body ul {
        padding:0;
        width:100%;
        border-right: 0;
        border-bottom: 1px solid black;

    }
    div.main_body ol{
        width:100%;
        padding:0;
        margin:0;
    }
    li.Big_type {
        display: none
    }

    div.main_body ol li {
        list-style-type: none;
        float: left;
        padding-top:2px;
        padding-bottom:2px;
        margin:0;
        text-align:center;
        width:33.3%;
    }
    .main_body ul ol li.current_page {
        background-color: rgba(235, 185, 121, 0.795);
        
    }
    .main_body ul ol li.current_page a {
        background-color: transparent;
    }
}
