html,
body {
    height: 100%;
}

body {
    margin: 10px;
}

#main_title {
    font-size       : 45px;
    text-align      : center;
    text-shadow     : 5px 5px darkgray;
    border-bottom   : 1px solid black;
    margin          : 0;
    padding         : 20px;
    background-color: white;
}

#main_title a {
    color               : black;
    text-decoration-line: none;
}

.tab ul {
    padding-right: 10px;
    margin       : 0;
    padding-left : 20px;
    display      : inline-block;
    align-content: center;
    width        : 150px;
}

.main_body {
    display              : grid;
    grid-template-columns: 180px 1fr;
    height               : 100%;
}

.tab li {
    margin: 10px;
    width : 130px;
}

div.article {
    padding : 10px 10px 10px 10px;
    position: relative;
}

#main_image {
    max-width: 100%;
    height   : auto;
}

#modeToggle {
    font-family     : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position        : absolute;
    top             : 15px;
    right           : 15px;
    border-radius   : 70%;
    display         : inline-block;
    background-color: white;
    border-color    : black;
}

.currentTopic .tabBtn {
    background-color: rgba(235, 185, 121, 0.795);
}

.tab {
    height      : 100%;
    border-right: 1px solid black;
}

.tabBtn {
    padding             : 0;
    border              : 0;
    font-weight         : bolder;
    color               : black;
    text-decoration-line: none;
}

@media(max-width:800px) {
    .main_body {
        display: block;
    }

    #main_title {
        border: 0;
    }

    div.main_body ul {
        padding         : 0;
        margin          : 0;
        width           : 100%;
        border-right    : 0;
        border-bottom   : 1px solid black;
        background-color: white;

    }

    div.main_body ul {
        width  : 100%;
        padding: 0;
        margin : 0;
    }

    div.main_body ul li {
        list-style-type: none;
        float          : left;
        height         : 25.6px;
        padding        : 0;
        margin         : 0;
        text-align     : center;
        width          : 33.3%;
    }

    .tab {
        height: auto;
        border: 0;
    }

    .tabBtn {
        width  : 100%;
        height : 100%;
        padding: 0;
        margin : 0;
    }

    .currentTopic {
        background-color: rgba(235, 185, 121, 0.795);
    }
}